@model IEnumerable<FrontEndMVC.Models.RecipeItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecipeIID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeIID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RecipeIID }) |
            @Html.ActionLink("Details", "Details", new { id = item.RecipeIID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RecipeIID })
            @Html.ActionLink("Filter by Recipe", "FilterByRecipe", new { id = item.RecipeID })
        </td>
    </tr>
}

</table>
